div {
  border: 1px soild black;
  box-sizing: border-box; /* width/height에 padding, border가 포함되도록 자동 계산.*/
}

.container-1 {
  border: 2px dashed red;
  position: relative;
}

.first {
  background-color: yellow;
  width: 300px;
  height: 300px;
}

.second {
  width: 200px;
  height: 200px;
  background-color: green;

  position: absolute; /* 니만의 절대적인인 위치를 가져라. */

  top: 50px;  /* relative(빨간점선)를 기준으로 top에서 50px, */
  left: 50px; /* left에서 50px 떨어져서 배치되어라. */
}

.third {
  width: 100px;
  height: 100px;
  background-color: red;

  position: absolute;

  top: 100px;
  left: 100px;
}

/* 정가운데 배치하기 */
.container-2 {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  position: relative;
}

#center {
  width: 50px;
  height: 50px;
  background-color: pink;

  position: absolute;

  /* position을 이용하여 가운데 배치 공식: 상하좌우 0 + margin: auto; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: auto;
}

.fixed-area {
  width: 120px;
  background-color: yellow;
  color: white;

  position: fixed;

  bottom: 50px;
  right: 50px;
}

.fixed-area > a {
  text-decoration: none;  /* a태그 적용된 텍스트에 언더바 사라짐.*/
}

.fixed-area > a:visited { /* visited: 클릭(방문)했다면 */
  color: red; /* 글씨 색을 빨강으로 변경하겠다. */
}

/* -webkit-text-stroke: 5px while;
  크롬, 사파리, 엣지 등 브라우저 전용 속성 중 하나
  글씨 5white테두리, black글씨 과 두께를 한번에 지정할 수 있음.
*/ 